target/
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Configuración local ###
config.properties

### Build output ###
bin/

### Mac OS ###
.DS_Store

### C# fingerprint capture ###
# El ejecutable CapturadorHuella.exe se incluye en el repo
# (se distribuye compilado para que funcione en otro PC).

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven wrapper ###
!.mvn/wrapper/maven-wrapper.jar
